.dashboard-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-menu-and-sign-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 50%;
  gap: 1rem;
}

@media (max-width: 500px) {
  .sign-out-button {
    display: none;
  }

  .dashboard-menu-and-sign-out {
    justify-content: flex-end;
    min-width: 50%;
  }
}
