.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.empty-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.empty-message-container p {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsla(0, 0%, 70%, 0.5);
  text-align: center;
}

div.empty-message-icon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

div.empty-message-icon svg {
  width: 3rem;
  height: 3rem;
  color: hsla(0, 0%, 70%, 0.5);
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, box-shadow 0.3s ease;
  color: #fff;
  cursor: pointer;
}

.task-item:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.task-title {
  font-size: 1rem;
  color: #fff;
}

.task-item.completed .task-title {
  text-decoration: line-through;
  color: #ff9966;
}

.task-actions {
  display: flex;
  gap: 0.5rem;
}

.task-done-button {
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.3s ease;
}

.task-done-button:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: #ffcc99;
}

.task-item.completed .task-done-button {
  background: #ff99661a;
  border: 1px solid #ff99664d;
}

.task-item.completed .task-done-button:hover {
  background: rgba(255, 99, 71, 0.15);
  color: #ff6347;
}

.task-delete-button {
  padding: 0.5rem;
  background: rgba(255, 0, 0, 0.1); /* Destructive color */
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 6px;
  color: #ff0000;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.3s ease;
}

.task-delete-button:hover {
  background: rgba(255, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: #ff4d4d;
}

.task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.task-details {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  color: #fff;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-details h2 {
  color: hsl(0, 1%, 80%);
  margin-bottom: 1rem;
}

.task-details p {
  margin-bottom: 1.5rem;
}

.task-details button {
  padding: 0.75rem 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.3s ease;
}

.task-details button:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  color: #ffcc99;
}

.edit-task-title-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  border: 2px solid #ffcc99;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  .task-item {
    padding: 0.7rem;
  }
}
