.dashboard-button,
.sign-in-button,
.sign-up-button {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: #0070f3; /* Example color */
  text-decoration: none;
  margin: 0 5px;
}

.sign-out-button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.sign-out-button:hover {
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    color: #ffcc99;
  } 